[Install]
WantedBy = multi-user.target

[Unit]
Description = gitlab-runner service

[Service]
ExecStartPre = -/usr/bin/docker rm -f %n

ExecStart = /usr/bin/docker run --name %n \
{% if gitlab_runner_config_volume is defined and gitlab_runner_config_volume | length > 0 %}
            --volume {{ gitlab_runner_config_volume }}:/etc/gitlab-runner \
{% endif %}
            --volume /var/run/docker.sock:/var/run/docker.sock \
            {{ gitlab_runner_image_name }}:{{ gitlab_runner_image_version }}

ExecStop = -/usr/bin/docker stop %n
ExecStopPost = -/usr/bin/docker rm -f %n

Restart = always
RestartSec = 60s
TimeoutSec = 3600
